<!DOCTYPE html>
<html>

<head>
  <% path = "../../"; %>
    <% include ../../partials/head %>
</head>

<body class="bg-gray">
  <header>
    <% include ../../partials/header %>
  </header>
  <main>
    <div class="bg-gray">
      <div class="container">
        <br><br>
        <form autocomplete="off" method="POST" action="<%= baseUrl %>/user/change_password">
          <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <h2><b>Change Password</b></h2>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4"></div>
            <label for="old_password" class="col-sm-1 col-form-label">Old Password</label>
            <div class="col-sm-3">
              <input type="password" class="form-control" name="old_password" id="old_password" placeholder="Old password">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4"></div>
            <label for="new_password" class="col-sm-1 col-form-label">New Password</label>
            <div class="col-sm-3">
              <input type="password" class="form-control" name="new_password" id="new_password" placeholder="New password">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4"></div>
            <label for="confirm_new_password" class="col-sm-1 col-form-label">Confirm New Password</label>
            <div class="col-sm-3">
              <input type="password" class="form-control" name="confirm_new_password" id="confirm_new_password" placeholder="New password">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <% if (message.length > 0) { %>
            <div class="form-group row">
              <div class="col-sm-4"></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <div class="alert alert-danger">
                  <%= message %>
                </div>
              </div>
            </div>
            <% } %>
        </form>
        <br><br>
      </div>
    </div>
  </main>
  <footer>
    <% include ../../partials/footer %>
  </footer>
  <script>
  </script>
</body>

</html>