<!DOCTYPE html>
<html>

<head>
  <% path = "../"; %>
    <% include ../partials/head %>
</head>

<body class="bg-gray">
  <header>
    <% include ../partials/header %>
  </header>
  <main>
    <div class="bg-gray">
      <div>
        <br>
        <div class="col">
          <div class="col">
            <div class="row">
              <h1><b>Graph</b></h1>
            </div>
          </div><br>
          <div class="row justify-content-around">
            <div class="col">
              <div class="iframe-responsive">
                <iframe src="http://172.19.132.116/zabbix/charts.php?ddreset=1&fullscreen=1" height=1300px width=1300px></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>

  <script>
  </script>
</body>

</html>